<main class="todo-container">
  <div class="todo-subcontainer">
    <input
      class="todo-input"
      type="text"
      placeholder="Enter a todo"
      [value]="newTodo()"
      (input)="newTodo.set($any($event.target).value)"
    />
    <button class="todo-button" (click)="addTodo()">Add</button>
  </div>

  <ul class="todo-list">
    <li *ngFor="let todo of todos(); let i = index" class="todo-item">
      {{ todo.todo }}
      <button (click)="deleteTodo(todo.id)" class="delete-button">
        Delete
      </button>
    </li>
  </ul>
</main>
